<div class="feedback">
  <div class="avatar">{{ avatar }}</div>
	<div class="question-and-options">
    <div class="question">{{ question }}</div>
		<div class="options">
			<input id="feedback-choice-1" name="feedback-choice" type="radio" />
			<label for="feedback-choice-1">Excellent</label>
			<input id="feedback-choice-2" name="feedback-choice" type="radio" />
			<label for="feedback-choice-2">Average</label>
			<input id="feedback-choice-3" name="feedback-choice" type="radio" />
			<label for="feedback-choice-3">Poor</label>
		</div>
	</div>
</div>
