#merchant-view
  position: absolute
  top: 5px
  padding: 10px
  border: 1px solid #ccc
  border-width: 1px 1px 1px 0
  +border-right-radius(5px)
  background: #eee
  width: 323px
  min-height: 500px
  .close
    float: right
    .ui-button-text
      font-size: 11px
