@import feedback/comment_form

= check-detail-view
  .check-image
    line-height: 1.2em
    padding: 10px 0
    text-align: right
    .report-problems
      font-size: 11px
    +comment-form(68px)
    div.comment
      .buttons
        p
          display: none
