[submodule "development/wiki"]
	path = development/wiki
	url = git@github.com:trabian/hyperlocalcu-prototype.wiki.git
[submodule "server/juggernaut"]
	path = server/juggernaut
	url = git://github.com/maccman/juggernaut.git
