<td class="date">
  <span>{{ formatted_timestamp }}<span>
</td>
<td class="name" colspan="2">
  <p class="name">{{ description }}</p>
  <p class="meta">
    Ending Balance: {{{ ending_balance }}}
  </p>
  <table class="statement-table" style="display: none;">
    <tr><th>Opening Balance</th><td>{{{ opening_balance }}}</td></tr>
  </table>
</td>
