#merchant-view
  position: fixed
  top: 32px
  padding: 10px
  border: 1px solid #ccc
  border-width: 1px 1px 1px 0
  +border-right-radius(5px)
  background: $timeline_row_selected_color
  width: 323px
  min-height: 500px
  .close
    float: right
    .ui-button-text
      font-size: 11px
  form.offer
    margin: 2em 0.5em 0
    p.additional-question
      margin: 0.5em 0
      font-size: 93%
    textarea
      width: 98%
      height: 75px
    p.reward
      float: right
      color: #090
      margin: 0.3em 0 0
  .feedback
    padding: 15px 0 0
    p
      margin: 0.5em 0.2em

#feedback
  h3
    margin: 0 0 0.3em
    font-size: 14px
  #feedback-list
    +list-with_buttons(feedback)
    border: 1px solid #e3eff7
    border-width: 1px 1px 0
    li
      p.comment
        margin: 0 0 0.2em
