#accounts
  %table
    %thead
      %tr
        %th
          Account Balances
    %tbody
      %tr
        %th
          %a{:href => '#'} Checking
        %td
          $1,375.28
      %tr
        %th
          %a{:href => '#'} Savings
        %td
          $13,375.28
