!!! 5
%head
  %link{:href => '/screen.css', :rel => 'stylesheet'}
  %link{:href => '/stylesheets/jquery-ui.css', :rel => 'stylesheet'}
%body
  #container
    #main
      .content
        = haml(:history, :layout => false)
    #sidebar
      .default
        = haml(:accounts, :layout => false)
        = haml(:"rewards-summary", :layout => false)
      
  %script{"data-main" => "main", :src => "javascripts/require-jquery.js?v=1"}
