!!! 5
%head
  %link{:href => '/screen.css', :rel => 'stylesheet'}
  %link{:href => '/stylesheets/jquery-ui.css', :rel => 'stylesheet'}
%body
  #container
    #main
      .content
        = haml(:history, :layout => false)
    #sidebar
      .default
        = haml(:accounts, :layout => false)
        = haml(:"rewards-summary", :layout => false)

  %script{:src => "javascripts/lib/require-jquery.js?v=1"}

  :javascript
    require({ baseUrl: "/javascripts" }, ["order!lib/underscore", "order!lib/backbone", "order!app/history"])
