#rewards-summary
  %table
    %thead
      %tr
        %th
          Rewards Summary
        %td.timeframe
          %span This Month
    %tbody
      %tr.title
        %th{:colspan => 2}
          Rewards earned
      %tr
        %th Money back
        %td $13.75
      %tr
        %th
          %a{:href => '#'}
            Vantage Reward points
        %td 485
      %tr.title
        %th{:colspan => 2}
          Rewards to redeem
      %tr
        %th Cinema 16
        %td $.45
      %tr
        %th Factory Card Outlet
        %td 2% off
      %tr
        %th Nickle Plate
        %td 10% off up to $50

