<div class="twitter">
  {{#avatar}}
    <img src="{{ . }}" class="avatar" />
  {{/avatar}}
  <div class="latest-tweet">
  {{^twitter_username}}
    <div class="form">
      <input type="text" placeholder="Twitter username for {{name}}" class="text" />
      <button>Add</button>
    </div>
  {{/twitter_username}}
  </div>
</div>

<p class="security">
  Don't trust Twitter with your financial information? That's ok -- <a href="#">neither do we</a>.
</p>
