@import base

+blueprint-typography
+blueprint-utilities
+blueprint-grid
+blueprint-debug("/images/grid.png")
+blueprint-interaction
+blueprint-form

@import ui_mixins

@import prompts

@import timeline
@import rewards
@import merchants
@import social

@import demo

#container
  position: relative

#global
  position: absolute
  top: 2px
  right: 15px
  ul
    +horizontal-list(5px)
    a
      +hover-link
      +link-colors(#fff, #fff)
