@import ui_mixins
@import feedback

= highlight
  margin: 0.5em 0
  padding: 10px 0
  border: 1px solid #d4d4d4
  border-width: 1px 0
  background: url(/images/background.png) repeat-x left -250px

@import events/billpay/detail
@import events/branch/detail
@import events/card/detail
@import events/check/detail

//These need to be defined outside of the event-detail-view because the scrollpane creates a clone outside of the parent to check the width

#event-detail
  width: 318px
  padding-right: 5px

#event-footer
  padding: 5px 5px 5px 0
  min-height: 75px

#event-detail-view
  +billpay-detail-view
  +branch-detail-view
  +check-detail-view
  position: absolute
  color: #444
  padding: 5px 10px 5px 15px
  border: 1px solid #ccc
  border-width: 1px 1px 1px 0
  +border-right-radius(5px)
  background: #fff
  width: 318px
  display: none
  &.fixed
    position: fixed
    top: 10px
  #event-detail-wrapper
    min-height: 110px
    width: 323px
  .top
    +clearfix
    margin: 0 0 15px
    .date
      float: left
      color: $subtle_color
      font-size: 10px
    .close
      float: right
      position: absolute
      top: 4px
      right: 10px
      font-size: 10px
  .name-and-amount
    margin: 0 0 0.5em 0
    .amount
      font-size: 16px
      float: right
      line-height: 1em
    h3
      font-size: 16px
      line-height: 1.2em
  &.deposit
    .amount
      color: $deposit_color

  .location
    padding: 5px 0 12px 0
    font-size: 11px
    +clearfix
    .map
      margin: 0 13px 0 0
      float: left
      img
        width: 130px
        border: 1px solid #ccc
    .address
      h2, h3
        +reset-box-model
        line-height: 1.2em
        color: #444
        font-weight: bold
        margin: 0 0 0.3em
      h2
        font-size: 15px
      h3
        font-size: 11px
      p
        margin: 0
      .rating
        margin-top: 10px
        display: inline-block
      +comment-form(58px)
      div.comment
        .buttons
          p
            font-size: 10px
          

  .social

  .available-service
    margin: 10px 0 0
    border: 1px solid #92c5e0
    font-size: 11px
    padding: 10px 10px
    border: 1px solid #d4d4d4
    border-width: 1px 0
    background: url(/images/background.png) repeat-x left -250px
    h2
      font-size: 14px
      margin: 0
    p
      +reset-box-model
      margin: 0.2em 0 0.5em
    ul
      +no-bullets
      +reset-box-model
      +horizontal-list(5px)
      margin: 10px 20px auto
      li
        margin: 0 0 0.5em
