#timeline-loading Loading...

%table#timeline{:style => 'display: none;'}
  %thead.ui-widget-header
    %tr
      %td.date Date
      %td.name Description
      %td.amount Amount
  %tbody.ui-widget-content

= content_for :sidebar do
  #overview
  #event-detail-view{:style => "display: none;"}

= content_for :head do
  = render "layouts/mixpanel"

= content_for :javascript do

  %script{:src => google_js_src, :type => 'text/javascript'}

  :javascript
    require({ baseUrl: "/javascripts/compiled" }, ["order!vendor/underscore", "order!vendor/backbone", "order!app/controllers/members/timeline_controller", "order!app/controllers/members/available_services_controller", "order!app/models/event_list"], function(underscore, backbone, MemberTimelineController, AvailableServicesController, EventList) {

      Backbone.emulateHTTP = true;

      var timelineController = new MemberTimelineController({
        fetchOnInit: true,
        events: new EventList()
      });

      var availableServicesController = new AvailableServicesController();

    });
