<ul class="buttons">
  <li><button class="restore">Restore</button></li>
  <li><button class="delete">Delete</button></li>
</ul>
<h3>{{ name }}</h3>
<p class="meta"><span class="timestamp"></span></p>
