<label>{{question}}</label>

<p class="additional-question">{{additional_question}}</p>

<textarea name="response[comment]"></textarea>

<p class="reward">{{ reward }}</p>

<button class="submit">Submit</button>
