{{#twitter}}
<div class="twitter">
  <a href="http://twitter.com/{{username}}" class="view-profile" target="_blank"><img src="/images/twitter-button.png" /></a>
  <div class="latest-tweet"></div>
</div>
{{/twitter}}

{{#facebook}}
<div class="facebook">
  <a href="http://facebook.com/{{username}}" class="view-profile" target="_blank"><img src="/images/facebook-button.png" /></a>
  <div class="latest-post">
    Loading...
  </div>
</div>
{{/facebook}}

<p class="security">
  Don't trust Facebook or Twitter with your financial information? That's ok -- <a href="#">neither do we</a>.
</p>
