<div class="tweet-form">
  {{{ prompt }}}
  <textarea>{{ message }}</textarea>
  {{#message}}
    <p class="note">The pre-filled tweet above is just a suggestion.  Feel free to change it to whatever you'd like!</p>
  {{/message}}
  <div class="count-and-button">
    <span class="count">140</span>
    <button>Tweet</button>
  </div>
</div>
