<table id="timeline">
  <thead class="ui-widget-header">
    <tr>
      <td class="date">Date</td>
      <td class="name">Description</td>
      <td class="amount">Amount</td>
      <td class="balance">Balance</td>
    </tr>
  </thead>
  <tbody class="ui-widget-content"></tbody>
</table>
