<div class="navigation">
  <div class="search">
    <input type="text" placeholder="Search by name, date, or amount">
    <button>Search</button>
  </div>
  <div class="account-and-dates">
    <a href="#" class="account">Rewards Checking &#9662;</a>
    transactions from the past
    <a href="#" class="dates">30 days &#9662;</a>
  </div>
</div>
<table id="timeline">
  <thead class="ui-widget-header">
    <tr>
      <td class="date">Date</td>
      <td class="name">Description</td>
      <td class="amount">Amount</td>
    </tr>
  </thead>
  <tbody class="ui-widget-content"></tbody>
</table>
