#subject-overview

%table#timeline
  %tbody.ui-widget-content

= content_for :sidebar do
  #overview
  #event-detail-view{:style => "display: none;"}

= content_for :javascript do

  %script{:src => google_js_src, :type => 'text/javascript'}

  :javascript

    Backbone.emulateHTTP = true;

    var feedbackDashboardController = new App.controller.FeedbackDashboard({
      subject: App.model.FeedbackSubjectFactory.getSubject(#{subject.to_feedback_subject_json})
    });
