<div class="avatar-and-question">
  {{#avatar}}
    <div class="avatar"><img src="{{ . }}" /></div>
  {{/avatar}}
  <div class="question-and-rating">
    <div class="question">{{{ question }}}</div>
  </div>
</div>

