<a href="#" class="cancel">Cancel</a>

<h4>Care to share your thoughts?</h4>

<textarea>{{comment}}</textarea>

<div class="buttons">
<button>Share</button>
<p><strong>Your review will be shared, not your name.</strong>  <br />Enjoy your anonymity -- use it for good, not evil.</p>
</div>
