<h4>Couldn't find merchant information for <em>{{name}}</em></h4>
<div class="merchant-search-form">
  <input type="text" class="search-field" value="{{defaultSearch}}" />
  <button class="search">Search</button>
</div>
<div class="merchant-search-results">Searching ...</div>
