<td class="date">
  <span>{{ formatted_timestamp }}<span>
</td>
<td class="comment">
  {{#teller_comment}}
  <p class="description">{{ . }}</p>
  {{/teller_comment}}
  <p class="meta">Feedback provided by {{ member_name }} on 1/21 | <a href="#">Create a service request</a></p>
</td>
<td class="rating"></td>

