<td class="date">
  <span>{{ formatted_timestamp }}<span>
</td>
<td class="comment">
  {{#comment}}
  <p class="description">{{ . }}</p>
  {{/comment}}
  <p class="meta">Feedback provided by {{ member_name }} for service on {{ formatted_service_timestamp }} | <a href="#">Create a service request</a></p>
</td>
<td class="rating"></td>
