<td class="date">
  <span>{{ formatted_timestamp }}<span>
</td>
<td class="comment">
  {{ teller_comment }}
  {{#teller_comment_meta}}
    <p class="meta">{{ . }}</p>
  {{/teller_comment_meta}}
</td>
<td class="rating"></td>

