:plain
  <script type="text/javascript">
  var mpq = [];
  mpq.push(["init", "b047f6a07720f89414538145a18bdfe0"]);
  (function() {
  var mp = document.createElement("script"); mp.type = "text/javascript"; mp.async = true;
  mp.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//api.mixpanel.com/site_media/js/api/mixpanel.js";
  var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(mp, s);
  })();
  </script>

